<%- include("layouts/header.ejs") %>

<h2 class="mb-4 p-3 mb-2 bg-primary text-white font-weight-bolder">Hii , <%= user.name %></h2>

<div class="row">

    <div class="col-md-3">
        <ul class="list-group">

            <% 
                if(users.length > 0){
                    for(let i=0;i<users.length;i++){
                        %>
                        <li class="list-group-item list-group-item-primary cursor-pointer user-list" data-id="<%= users[i]['_id'] %>">
                            <img src="<%='http://localhost:3000/'+users[i]['image'] %>" alt="" 
                            width="50px" height="50px"
                            style="border-radius: 50%;">
                            <%= users[i]['name']%>  
                            
                            <%
                            if(users[i]['is_online']=='1'){

                                %>
                                
                                <sup class="online-status" id="users[i]['_id']-status">Online</sup>
                                
                                <%

                            }else{
                                %>
                                
                                <sup class="Ofline-status" id="users[i]['_id']-status">Ofline</sup>
                                
                                <%
                            }
                            
                            %>
                            

                        </li>
                        <%
                    }
                }    
            %>

        </ul>
    </div>

    <div class="col-md-9">
        <h3 class="font-weight-normal p-3 mb-2 bg-info text-white start-head">Start Chatting...</h3>
        <div class="chat-section">
            
            <div id="chat-container">
                
               
                


            </div>
            <form action="" id="chat-form">
                <input type="text" placeholder="Enter your message.." id="message" name="message" class="border" required>    
                <input type="submit" value="Send" class="btn btn-success">
            </form>

        </div>

    </div>

</div>

<script>

    var sender_id = '<%= user._id %>';
    var receiver_id;

    var socket = io("/user-namespace",{
        auth:{
            token:sender_id
        }
    });

    $(document).ready(function(){
        $('.user-list').click(function(){

            var userId = $(this).attr("data-id");
            receiver_id = userId;

            $('.start-head').hide();
            $('.chat-section').show();
            socket.emit("existChat",{sender_id:sender_id,receiver_id:receiver_id});
        });
    });
    
    socket.on("getOnlineUser",async function(data){
        await $('#'+data.user_id+'-status').text("online")
        .removeClass("Ofline-status")
        .addClass("online-status");
    });

    socket.on("getOfflineUser",async function(data){
       await $('#'+data.user_id+'-status').text("ofline")
        .removeClass("online-status")
       .addClass("Ofline-status");
    });

    $("#chat-form").submit(function(e){
        e.preventDefault();
        var message = $("#message").val();
       
        $.ajax({
            url:"/save-chat",
            type: "POST",
            data:{sender_id:sender_id,receiver_id:receiver_id,message:message},
            success:function(res){
                if(res.success){
                    $("#message").val('');
                    let chat = res.data.message;
                    console.log(chat);
                    let chatHtml = `
                     <div class="current-user-chat">
                         <h5>`+chat+`</h5>
                     </div>
                    
                    `;

                    $('#chat-container').append(chatHtml);
                     socket.emit("newChat",res.data);
                     scrollChat();

                }else{
                    alert(data.msg);
                }
            }
        });
    });

    socket.on("loadNewChat",function(data){
        if(sender_id == data.receiver_id && receiver_id == data.sender_id){
            let chatHtml = `
                     <div class="distance-user-chat">
                         <h5>`+data.message+`</h5>
                     </div>
                    
                    `;

                    $('#chat-container').append(chatHtml);
                     socket.emit("newChat",res.data);
        }
        scrollChat();
   

    }); 

    //catching loadChats events to load the new chat-section
    socket.on("loadChats",function(data){
        $("#chat-container").html('');
        var chats = data.chats;
        let html = '';
        for(let i=0;i<chats.length;i++){
            addClass = '';
            if(chats[i]['sender_id']==sender_id){
                addClass = "current-user-chat";
            }else{
                addClass = "distance-user-chat";
            }

            html+=`
                     <div class='`+addClass+`'>
                         <h5>`+chats[i]['message']+`</h5>
                     </div>
                    
                    `;
        }

        $("#chat-container").append(html);
        scrollChat();
    });

    function scrollChat(){
        $("#chat-container").animate({
            scrollTop:$("#chat-container").offset().top+$("#chat-container")[0].scrollHeight
        },0);
    }


</script>


<%- include("layouts/footer.ejs") %>